<footer class="w-full border-t border-[#803C01]/25 bg-[#010001] shadow-sm">
    <div
        class="mx-auto flex w-full max-w-7xl flex-col items-center justify-center gap-4 px-5 py-5 text-center md:flex-row md:items-center md:justify-between md:text-left lg:px-8">
        <span class="text-sm text-[#FFA95E]">
            © 2026
            <a href="#inicio" class="font-medium text-[#FFDBBB] transition duration-300 hover:text-[#FF7700]">
                STI Informática
            </a>
            |
            Todos os direitos reservados.
        </span>

        <ul class="flex flex-wrap items-center justify-center gap-x-6 gap-y-2 text-sm font-medium text-[#FFDBBB]">
            <li>
                <a href="#inicio" class="transition duration-300 hover:text-[#FF7700]">
                    Início
                </a>
            </li>

            <li>
                <a href="#sobre" class="transition duration-300 hover:text-[#FF7700]">
                    Sobre
                </a>
            </li>

            <li>
                <a href="#servicos" class="transition duration-300 hover:text-[#FF7700]">
                    Serviços
                </a>
            </li>

            <li>
                <a href="#clientes" class="transition duration-300 hover:text-[#FF7700]">
                    Clientes
                </a>
            </li>

            <li>
                <a href="#contato" class="transition duration-300 hover:text-[#FF7700]">
                    Contato
                </a>
            </li>
        </ul>
    </div>
</footer>